.card {
    padding: 1rem 2rem;
    box-shadow: var(--shadow-card);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-content {
    overflow-x: auto;
    overflow-y: hidden;
}

.card-content::-webkit-scrollbar {
    height: 8px;
}
.card-content::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
    border-radius: 2px;
}

.card-content.has-scrollbar {
    padding-bottom: 1rem;
}