.home-layout {
    display: flex;
    gap: 4rem;
    height: 100%;
    /* background: lightblue; */
}

section {
    flex: 1;
    overflow-x: hidden;
    min-width: 0;
}

.calculation-section {
    overflow-y: scroll;
    max-height: 600px;
}

.results-row {
    display: flex;
    align-items: start;
    gap: 4rem;
}