.home-layout {
    display: flex;
    gap: 1.5rem;
    height: 100%;
}

section {
    flex: 1;
    overflow-x: hidden;
    min-width: 0;
    padding: .25rem;
}

.calculation-section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-height: 600px;
    overflow-y: scroll;
}

.results-row {
    display: flex;
    align-items: start;
    gap: 4rem;
}

.labeled-result {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}