.input-row {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.labeled-input {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

input, select {
    padding: .75rem;
    border: 1px solid var(--border-input);
    border-radius: .5rem;
    font-size: 1.75rem;
}

button {
    background: var(--bg-4);
    /* box-shadow: var(--shadow-button);l */
    padding: .75rem 1.75rem;
    border: none;
    border-radius: 6rem;
    font-size: 1.75rem;
    cursor: pointer;
}