@font-face { font-family: "Roboto-Regular"; src: url("assets/fonts/Roboto-Regular.ttf"); }

:root {
    /* Background colors */
    --bg-1: rgb(255, 255, 255);
    --bg-2: rgb(250, 250, 250);
    --bg-3: rgb(245, 245, 245);
    --bg-4: rgb(235, 235, 235);
    --bg-5: rgb(220, 220, 220);
    --bg-gradient: linear-gradient(to top left, #a8e063, #009245);

    /* Text colors */
    --text-1: rgb(17, 17, 17);
    --text-2: rgb(51, 51, 51);
    --text-3: rgb(85, 85, 85);
    --text-4: rgb(119, 119, 119);
    --text-5: rgb(153, 153, 153);

    /* Border colors */
    --border-1: rgb(235, 235, 235);
    --border-2: rgb(220, 220, 220);
    --border-3: rgb(205, 205, 205);
    --border-input: rgb(204, 204, 204);
    --border-spinner: rgba(0, 0, 0, .2);
    --border-spinner-top: rgb(0, 0, 0);

    /* Box shadows */
    --shadow-modal: 0 0 .5rem rgb(215, 215, 215);
    --shadow-select: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 11px rgba(0, 0, 0, 0.1);
    --shadow-button: 0 0 .25rem rgba(0, 0, 0, .25);
    --shadow-1: rgba(0, 0, 0, .05);
    --shadow-2: rgba(0, 0, 0, .15);
    --shadow-3: rgba(0, 0, 0, .25);
    --shadow-4: rgba(0, 0, 0, .5);
    --modal-overlay: rgba(0, 0, 0, .75);

    /* Button styles */
    --btn-primary-bg: rgba(250, 55, 104, .25);
    --btn-primary-color: rgba(250, 55, 104, 1);

    /* Accent colors */
    --accent-original: #fa3768;
    --accent-purple: #807dc5;
    --accent-purple-light: #b2afec;
    --black: #111;
    --black-gradient: linear-gradient(to bottom, #333, #111);
    --black-gradient-hvr: linear-gradient(to bottom, #333, #000);
    --danger: rgb(200, 0, 0);
    --danger-light: rgba(200, 0, 0, .15);
    --warning: rgb(155, 112, 5);
    --warning-light: rgba(219, 161, 15, 0.25);

    /* Filters */
    --filter-icon: none;
    --filter-white: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
    --filter-red: invert(10%) sepia(94%) saturate(5487%) hue-rotate(4deg) brightness(89%) contrast(116%);
    --filter-accent: invert(38%) sepia(72%) saturate(2072%) hue-rotate(115deg) brightness(102%) contrast(76%);

    /* Fonts */
    /* --font-1: 'InterVariable', system-ui, sans-serif;
    --font-2: system-ui, Avenir, Helvetica, Arial, sans-serif; */
    --font-1-regular: "Roboto-Regular";
}

[data-theme="dark"] {
    /* Background colors */
    --bg-1: rgb(21, 24, 25);
    --bg-2: rgb(26, 29, 30);
    --bg-3: rgb(31, 34, 35);
    --bg-4: rgb(41, 44, 45);

    /* Text colors */
    --text-1: rgb(238, 238, 238);
    --text-2: rgb(204, 204, 204);
    --text-3: rgb(170, 170, 170);
    --text-4: rgb(136, 136, 136);
    --text-5: rgb(102, 102, 102);

    /* Border colors */
    --border-1: rgb(60, 60, 60);
    --border-2: rgb(75, 75, 75);
    --border-3: rgb(90, 90, 90);
    --border-input: rgb(81, 81, 81);
    --border-spinner: rgba(255, 255, 255, .2);
    --border-spinner-top: rgb(255, 255, 255);
    /* --border-2: rgb(65, 65, 65);
    --border-3: rgb(50, 50, 50); */

    /* Box shadows */
    --shadow-modal: 0 0 .5rem rgb(40, 40, 40);
    --shadow-select: 0 0 0 1px rgba(255, 255, 255, .1), 0 4px 11px rgba(255, 255, 255, .1);
    --shadow-1: rgba(255, 255, 255, .05);
    --shadow-2: rgba(255, 255, 255, .15);
    --shadow-3: rgba(255, 255, 255, .25);
    --shadow-4: rgba(255, 255, 255, .5);
    --modal-overlay: rgba(255, 255, 255, .9);

    /* Accent colors */
    --black: #000;

    /* Filters */
    --filter-icon: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}